* {
    vertical-align: middle;
    margin: 0;
}

#lines {
    height: 100%;
    width: 6%;
    min-width: 6%;
    max-width: 60%;
    right: 0;
    left: 0;
    top: 0;
    resize: horizontal;
    bottom: 0;
    margin: 0;
    border: 0;
    background-color: #001b3c;
    color: #0073ff;
    overflow: hidden;
    text-align: right;
    font-size: 10pt;
    font-family: monospace;
    line-height: 15pt;
}

::-webkit-resizer {
    display: none;
}

#editor {
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    border: 0;
    width: 94%;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    background-color: #002149;
}

div {
    white-space: nowrap;
    height: 100%;
    width: 100%;
}
