/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(35, 59, 87, 0.464);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 145, 0.524);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(58, 117, 154, 0.756);
}
